{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

  <h1>Hello!</h1>
  <p>This is a {{ name }}. Made as a exercise. Don't use it in production!</p>
  <ul>
    {% for color in colors %}
      <li>{{ color }}</li>
    {% endfor %}
  </ul>

{% endblock %}
