{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Hello!</h1>
    <p>This is a {{ name }}. Made as a exercise. Don't use it in production!</p>

    {% if session.user %}
        User with ID {{ session.user_id }} is logged in.
    {% else %}
        <a href="/signup/new">Sign up</a>
        <a href="/login">Log in</a>
    {% endif %}




{% endblock %}
